<!-- Footer -->
<footer class="mb-autos">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <a class="navbar-brand" href="#">Avaloron 雅闻龙</a>
                <p class="copyright text-muted">
                    &copy; {{ site.time | date: '%Y' }} {{ site.title }}
                </p>
            </div>

            <div class="col-xs-4 col-sm-2">
                <ul class="list-unstyled">
                    <li><a href="{{ site.baseurl }}/about">关于我们</a></li>
                    <li><a href="{{ site.baseurl }}/term">服务条款</a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>

<!-- jQuery -->
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>

<!-- Tether -->
<script src="//cdn.bootcss.com/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

<!-- Bootstrap Core JavaScript -->
<script src="//cdn.bootcss.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>

<!-- Custom Theme JavaScript -->
<script src="{{ "/assets/js/app.js " | prepend: site.baseurl }}"></script>

