<nav class="navbar navbar-toggleable-md navbar-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
  <a class="navbar-brand" href="{{ site.baseurl }}/"><img src="http://www.avaloron.com/logo/logo.png"></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav nav-pills ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/">首页</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/blog">博客</a>
      </li>
	        <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/about">关于我们</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/download">资料下载</a>
      </li>
    </ul>
  </div>
</nav>
