---
layout: default
---

<div class="home">

  <h1 class="page-heading">投资分析</h1>
  <br>
  <br>
  <br>

  <ul class="post-list">
    {% for post in site.posts %}

	<div class="card">
	  <div class="card-block">
		<h2 class="card-title" href="{{ post.url | relative_url }}">{{ post.title | escape }}</h4>
		<p class="card-text">发布日期：{{ post.date | date: "%b %-d, %Y" }}   作者： {{ post.author}}</p>
		<a href="{{ post.url | relative_url }}" class="btn btn-outline-info">点击阅读</a>

		{{ post.excerpt }}

	  </div>
	</div>
	<br>
    <br>


    {% endfor %}
  </ul>



</div>
